@media (max-width: 576px) {
    footer .text-md-end {
        text-align: left !important;
    }

    .hero-text h1 {
        color: #f5f7f3;
        font-size: 4.2rem;
        text-shadow:
            1px 1px 3px rgba(0, 0, 0, 1),
            0 4px 8px rgba(0, 0, 0, 0.4);
    }

    /* Reorder for mobile layout */
    .initiatives-section .col-md-4 {
        order: -1;
    }

    .initiatives-section .col-md-8 {
        order: 1;
    }
}

@media (max-width: 768px) {
    .hero-text {
        /* background-color: rgba(0, 0, 0, 0.4); */
        padding: 1rem;
        border-radius: 8px;
    }

    .hero-text h1 {
        color: #f5f7f3;
        font-size: 4.2rem;
        text-shadow:
            1px 1px 3px rgba(0, 0, 0, 1),
            0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .hero-text p {
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        color: #333;
    }

    /* Reorder for mobile layout */
    .initiatives-section .col-md-4 {
        order: -1;
    }

    .initiatives-section .col-md-8 {
        order: 1;
    }

    .image-overlay-container::before {
        padding-bottom: 0;
    }

    .overlay-text {
        font-size: 0.95rem;
        padding: 1.2rem;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .initiatives-section .row {
        display: flex;
        align-items: stretch;
    }

    .initiatives-section .col-md-8,
    .initiatives-section .col-md-4 {
        display: flex;
        flex-direction: column;
    }

    .initiative-image-wrapper {
        flex: 1;
    }

    .image-overlay-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }

    .image-overlay-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .image-overlay-container::before {
        display: none;
    }
}